p {
  color: darkblue;
}
h4 {
  color: fuchsia;
}
ul {
  color: darkblue;
}
.hero {
  background-image: 
  url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
  background-size: cover;
}
