p {
  color: darkblue;
}
h4 {
  color: fuchsia;
}
h4 {
	font-size: 18px;
}
body {
    background-color: aliceblue;
    border-bottom: 6px solid black;
}

ul {
  color: darkblue;
}
body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}
body {
     border: 1px solid #ccc;
     padding: 5px; 
}

