p {
  color: darkblue;
  font-size: 16px;
}
h4 {
  color: darkblue;
  font-weight: 900;
  font-size: 16px;
}
h1 {
	color: darkblue;
}

div {
    font-size: 12px;
}

body {
    background-color: lightgrey;
    border-bottom: 6px solid black;
}

ul {
  color: darkblue;
  list-style: circle inside url(media/redbullet.gif);
}
li {
	font-size: 11px;
}
body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}
body {
     border: 1px solid #ccc;
     margin-left: 50px;
     margin-top: 75px;
     padding: 20px 40px;
     padding-top: 35px;
}
header {
	width: 100%;
}
body {
	border: 25px solid green;
}



