p {
  color: darkblue;
}
h4 {
  color: darkblue;
  font-weight: 900;
  font-size: 16px;
}

div {
    font-size: 16px;
}

body {
    background-color: lightgrey;
    border-bottom: 6px solid black;
}

ul {
  color: darkblue;
  list-style: circle inside url(media/redbullet.gif); 
}
body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}
body {
     border: 1px solid #ccc;
     margin-left: 70px;
     margin-top: 100px;
     padding: 20px 40px;
     padding-top: 35px;
}
header {
	width: 100%;
}
div {
    background-color: lightgrey;
    width: 100%;
    border: 100px solid green;
    padding: 100px;
    margin: 100px;
}


