p {
  color: darkblue;
}
h4 {
  color: fuchsia;
}
h4 {
	font-size: 18px;
}
body {
    background-color: aliceblue;
    border-style: solid;
    background-size: cover;
}


ul {
  color: darkblue;
}
body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
