p {
  color: darkblue;
  font-size: 16px;
 
}
h4 {
  color: darkblue;
  font-weight: 900;
  font-size: 16px;
  line-height: 3;
}
h1 {
	color: darkblue;
}
h5  {
	color: darkblue;
	line-height: 0;
}
h3 {
	color: darkblue;
	line-height: -3;
}
div {
    font-size: 12px;
    line-height: 1;
}

ul {
  color: darkblue;
  list-style: circle inside url(media/redbullet.gif);
  line-height: 2;
}
li {
	font-size: 14px;
}
body {
	font-family: Georgia, serif;
	margin-right: 250px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 250px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 80px;
	border: 2px solid black;
     	background-color: darkgrey;
}
html {
	background-color: #DFCD2F;
}

header {
	width: 100%;
}

hr {
	color: darkblue;
	background-color: darkblue;
	height: 5px;
}
.header {
	line-height: .5;
}
.objective {
	line-height: 0;
}
